<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baltimorecrime.core.mapper.CrimePointMapper">

    <resultMap id="result" type="CrimePoint">
        <result property="crimeDate" column="crimeDate"/>
        <result property="crimeTime" column="crimeTime"/>
        <result property="crimeCode" column="crimeCode"/>
        <result property="location" column="location"/>
        <result property="weapon" column="weapon"/>
        <result property="post" column="post"/>
        <result property="district" column="district"/>
        <result property="neighborhood" column="neighborhood"/>
        <result property="longitude" column="lon"/>
        <result property="latitude" column="lat"/>
    </resultMap>

    <select id="selectAll" resultMap="result">
        SELECT * FROM baltimore_crime.crime;
    </select>

    <select id="selectByDay" parameterType="string" resultMap="result">
        SELECT * FROM baltimore_crime.crime WHERE crimeDate = #{crimeDate}
    </select>

    <select id="selectWithFilter" parameterType="com.baltimorecrime.core.domain.FilterAttributes" resultMap="result">
        SELECT * FROM baltimore_crime.crime
        WHERE id IS NOT NULL
        <if test="filterAttributes.startDate != null and filterAttributes.endDate != null">
            AND crimeDate &gt;= #{filterAttributes.startDate}
            AND crimeDate &lt;= #{filterAttributes.endDate}
        </if>
        <if test="filterAttributes.timeRanges != null and filterAttributes.timeRanges.size > 0">
            AND
            <foreach item="timeRange" index="index" collection="filterAttributes.timeRanges" open="(" separator=" OR " close=")">
                crimeTime &gt;= #{timeRange.startTime}
                AND crimeTime &lt;= #{timeRange.endTime}
            </foreach>
        </if>
        <if test="filterAttributes.crimeCodes != null and filterAttributes.crimeCodes.size > 0">
            AND crimeCode IN
            <foreach item="crimeCode" index="index" collection="filterAttributes.crimeCodes" open="(" separator="," close=")">
                #{crimeCode}
            </foreach>
        </if>
        <if test="filterAttributes.locations != null and filterAttributes.locations.size > 0">
            AND location IN
            <foreach item="location" index="index" collection="filterAttributes.locations" open="(" separator="," close=")">
                #{location}
            </foreach>
        </if>
        <if test="filterAttributes.weapons != null and filterAttributes.weapons.size > 0">
            AND weapon IN
            <foreach item="weapon" index="index" collection="filterAttributes.weapons" open="(" separator="," close=")">
                #{weapon}
            </foreach>
        </if>
        <if test="filterAttributes.posts != null and filterAttributes.posts.size > 0">
            AND post IN
            <foreach item="post" index="index" collection="filterAttributes.posts" open="(" separator="," close=")">
                #{post}
            </foreach>
        </if>
        <if test="filterAttributes.districts != null and filterAttributes.districts.size > 0">
            AND district IN
            <foreach item="district" index="index" collection="filterAttributes.districts" open="(" separator="," close=")">
                #{district}
            </foreach>
        </if>
        <if test="filterAttributes.neighborhoods != null and filterAttributes.neighborhoods.size > 0">
            AND neighborhood IN
            <foreach item="neighborhood" index="index" collection="filterAttributes.neighborhoods" open="(" separator="," close=")">
                #{neighborhood}
            </foreach>
        </if>
        <if test="filterAttributes.startLongitude != null and filterAttributes.endLongitude != null">
            AND lon &gt;= #{filterAttributes.startLongitude}
            AND lon &lt;= #{filterAttributes.endLongitude}
        </if>
        <if test="filterAttributes.startLatitude != null and filterAttributes.endLatitude != null">
            AND lat &gt;= #{filterAttributes.startLatitude}
            AND lat &lt;= #{filterAttributes.endLatitude}
        </if>
    </select>

</mapper>
