*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

./*/build
./*/out
./*/.gradle/
./*/.idea/
baltimore-crime-core/.gradle/2.0/taskArtifacts/cache.properties
baltimore-crime-core/.gradle/2.0/taskArtifacts/cache.properties.lock
baltimore-crime-core/.gradle/2.0/taskArtifacts/fileHashes.bin
baltimore-crime-core/.gradle/2.0/taskArtifacts/fileSnapshots.bin
baltimore-crime-core/.gradle/2.0/taskArtifacts/outputFileStates.bin
baltimore-crime-core/.gradle/2.0/taskArtifacts/taskArtifacts.bin
baltimore-crime-core/.idea/compiler.xml
baltimore-crime-core/.idea/encodings.xml
baltimore-crime-core/.idea/gradle.xml
baltimore-crime-core/.idea/misc.xml
baltimore-crime-core/.idea/modules.xml
baltimore-crime-core/.idea/vcs.xml
baltimore-crime-core/.idea/workspace.xml
baltimore-crime-core/.idea/artifacts/Gradle___baltimore_crime_core_war.xml
baltimore-crime-core/.idea/artifacts/Gradle___baltimore_crime_core_war__exploded_.xml
baltimore-crime-core/.idea/copyright/profiles_settings.xml
baltimore-crime-core/.idea/libraries/Gradle__aopalliance_aopalliance_1_0.xml
baltimore-crime-core/.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_7.xml
baltimore-crime-core/.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_7.xml
baltimore-crime-core/.idea/libraries/Gradle__com_fasterxml_classmate_1_1_0.xml
baltimore-crime-core/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_6_6.xml
baltimore-crime-core/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_6_6.xml
baltimore-crime-core/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_6_6.xml
baltimore-crime-core/.idea/libraries/Gradle__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_6_6.xml
baltimore-crime-core/.idea/libraries/Gradle__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_6_6.xml
baltimore-crime-core/.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_6_6.xml
baltimore-crime-core/.idea/libraries/Gradle__commons_codec_commons_codec_1_9.xml
baltimore-crime-core/.idea/libraries/Gradle__io_rest_assured_json_path_3_0_0.xml
baltimore-crime-core/.idea/libraries/Gradle__io_rest_assured_rest_assured_3_0_0.xml
baltimore-crime-core/.idea/libraries/Gradle__io_rest_assured_rest_assured_common_3_0_0.xml
baltimore-crime-core/.idea/libraries/Gradle__io_rest_assured_xml_path_3_0_0.xml
baltimore-crime-core/.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_2.xml
baltimore-crime-core/.idea/libraries/Gradle__javax_validation_validation_api_1_1_0_Final.xml
baltimore-crime-core/.idea/libraries/Gradle__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
baltimore-crime-core/.idea/libraries/Gradle__junit_junit_4_12.xml
baltimore-crime-core/.idea/libraries/Gradle__mysql_mysql_connector_java_5_1_13.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_4.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_4.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_httpcomponents_httpmime_4_5_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_8_0_33.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_8_0_33.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_logging_juli_8_0_33.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_8_0_33.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_tomcat_tomcat_jdbc_8_0_33.xml
baltimore-crime-core/.idea/libraries/Gradle__org_apache_tomcat_tomcat_juli_8_0_33.xml
baltimore-crime-core/.idea/libraries/Gradle__org_ccil_cowan_tagsoup_tagsoup_1_2_1.xml
baltimore-crime-core/.idea/libraries/Gradle__org_codehaus_groovy_groovy_2_4_6.xml
baltimore-crime-core/.idea/libraries/Gradle__org_codehaus_groovy_groovy_json_2_4_6.xml
baltimore-crime-core/.idea/libraries/Gradle__org_codehaus_groovy_groovy_xml_2_4_6.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_class_model_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_config_types_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_external_aopalliance_repackaged_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_external_asm_all_repackaged_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_external_javax_inject_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_hk2_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_hk2_api_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_hk2_config_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_hk2_core_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_hk2_locator_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_hk2_runlevel_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_hk2_utils_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_hk2_spring_bridge_2_4_0_b34.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_containers_jersey_container_servlet_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_containers_jersey_container_servlet_core_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_core_jersey_client_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_core_jersey_common_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_core_jersey_server_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_ext_jersey_bean_validation_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_ext_jersey_entity_filtering_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_ext_jersey_spring3_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_media_jersey_media_jaxb_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_glassfish_jersey_media_jersey_media_json_jackson_2_22_2.xml
baltimore-crime-core/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
baltimore-crime-core/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
baltimore-crime-core/.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_2_4_Final.xml
baltimore-crime-core/.idea/libraries/Gradle__org_javassist_javassist_3_18_1_GA.xml
baltimore-crime-core/.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_0_Final.xml
baltimore-crime-core/.idea/libraries/Gradle__org_jvnet_tiger_types_1_4.xml
baltimore-crime-core/.idea/libraries/Gradle__org_mockito_mockito_core_1_10_19.xml
baltimore-crime-core/.idea/libraries/Gradle__org_mybatis_mybatis_3_4_0.xml
baltimore-crime-core/.idea/libraries/Gradle__org_mybatis_mybatis_spring_1_3_0.xml
baltimore-crime-core/.idea/libraries/Gradle__org_mybatis_spring_boot_mybatis_spring_boot_autoconfigure_1_1_1.xml
baltimore-crime-core/.idea/libraries/Gradle__org_mybatis_spring_boot_mybatis_spring_boot_starter_1_1_1.xml
baltimore-crime-core/.idea/libraries/Gradle__org_objenesis_objenesis_2_1.xml
baltimore-crime-core/.idea/libraries/Gradle__org_projectlombok_lombok_1_16_6.xml
baltimore-crime-core/.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_21.xml
baltimore-crime-core/.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_21.xml
baltimore-crime-core/.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_21.xml
baltimore-crime-core/.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_21.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jersey_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_validation_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_1_3_5_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_aop_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_beans_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_context_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_core_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_expression_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_jdbc_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_test_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_tx_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_web_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_springframework_spring_webmvc_4_2_6_RELEASE.xml
baltimore-crime-core/.idea/libraries/Gradle__org_yaml_snakeyaml_1_16.xml
baltimore-crime-core/.idea/modules/baltimore-crime-core.iml
baltimore-crime-core/.idea/modules/baltimore-crime-core_main.iml
baltimore-crime-core/.idea/modules/baltimore-crime-core_test.iml
baltimore-crime-core/.idea/modules/baltimore-crime-ui.iml
baltimore-crime-core/build/classes/production/baltimore-crime-core/application.properties
baltimore-crime-core/build/classes/production/baltimore-crime-core/mybatis-config.xml
baltimore-crime-core/build/classes/production/baltimore-crime-core/com/baltimorecrime/core/mapper/CrimePointMapper.xml
baltimore-crime-core/build/libs/baltimorecrimecore-0.0.1-SNAPSHOT.jar.original
baltimore-crime-core/build/libs/baltimorecrimecore.war.original
baltimore-crime-core/build/reports/tests/index.html
baltimore-crime-core/build/reports/tests/classes/com.baltimorecrime.core.BaltimoreCrimeCoreApplicationTests.html
baltimore-crime-core/build/reports/tests/classes/com.baltimorecrime.core.service.MapServiceTest.html
baltimore-crime-core/build/reports/tests/classes/css/base-style.css
baltimore-crime-core/build/reports/tests/classes/css/style.css
baltimore-crime-core/build/reports/tests/classes/htc/css3-pie-1.0beta3.htc
baltimore-crime-core/build/reports/tests/classes/js/report.js
baltimore-crime-core/build/reports/tests/css/base-style.css
baltimore-crime-core/build/reports/tests/css/style.css
baltimore-crime-core/build/reports/tests/htc/css3-pie-1.0beta3.htc
baltimore-crime-core/build/reports/tests/js/report.js
baltimore-crime-core/build/reports/tests/packages/com.baltimorecrime.core.html
baltimore-crime-core/build/reports/tests/packages/com.baltimorecrime.core.service.html
baltimore-crime-core/build/reports/tests/packages/css/base-style.css
baltimore-crime-core/build/reports/tests/packages/css/style.css
baltimore-crime-core/build/reports/tests/packages/htc/css3-pie-1.0beta3.htc
baltimore-crime-core/build/reports/tests/packages/js/report.js
baltimore-crime-core/build/resources/main/application.properties
baltimore-crime-core/build/resources/main/mybatis-config.xml
baltimore-crime-core/build/resources/main/com/baltimorecrime/core/mapper/CrimePointMapper.xml
baltimore-crime-core/build/test-results/TEST-com.baltimorecrime.core.BaltimoreCrimeCoreApplicationTests.xml
baltimore-crime-core/build/test-results/TEST-com.baltimorecrime.core.service.MapServiceTest.xml
baltimore-crime-core/build/test-results/binary/test/output.bin
baltimore-crime-core/build/test-results/binary/test/output.bin.idx
baltimore-crime-core/build/test-results/binary/test/results.bin
baltimore-crime-core/build/tmp/jar/MANIFEST.MF
baltimore-crime-core/build/tmp/test/jar_extract_2771121385778407137_tmp
baltimore-crime-core/build/tmp/test/jar_extract_2772096765887561726_tmp
baltimore-crime-core/build/tmp/test/jar_extract_4501611449019352524_tmp
baltimore-crime-core/build/tmp/test/jar_extract_5939240980536562921_tmp
baltimore-crime-core/build/tmp/test/jar_extract_7527816014464110219_tmp
baltimore-crime-core/build/tmp/war/MANIFEST.MF
baltimore-crime-core/out/production/baltimorecrimecore/application.properties
baltimore-crime-core/out/production/baltimorecrimecore/mybatis-config.xml
baltimore-crime-core/out/production/baltimorecrimecore/com/baltimorecrime/core/mapper/CrimePointMapper.xml
